services:

  client:

    build:
      context: ./client
      dockerfile: Dockerfile  

    ports:
      - "5173:5173"

    volumes:
      - ./client:/app

    depends_on:
      - server

  server:
    
    build:
      context: ./server
      dockerfile: Dockerfile

    ports:
      - "3000:3000"

    env_file:
      - ./server/.env

    depends_on:
      - db

  db:
    image: postgres:17.6

    container_name: coffee_db

    restart: always

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    ports:
      - "5432:5432"
    
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:



