/* Mobile View */

@media (max-width: 700px) {
  /* ==== Placeholder ==== */
  .component {
    padding-left: var(--mobile-padding); 
    padding-right: var(--mobile-padding); 
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .header {
    width: 100%;
  }


  /* ==== Content ==== */
  /* - Header */
  .title {
    font-size: var(--mobile-title);
    line-height: var(--mobile-title-height);
  }

  .description {
    font-size: var(--mobile-subtitle);
    line-height: var(--mobile-subtitle-height);
  }

  .title {
    margin: 0;
    padding: 0;
  }

  /* Content */


  .link {
    font-size: var(--mobile-link);
    line-height: var(--mobile-text-height);
  }

  /* Footer */

  .primary-btn {
    height: 32px;
    border-radius: 5px;
  }

  .secondary-btn {
    height: 32px;
    margin-top: 0.5em;
  }

}

/* Tablet View */
@media (max-width: 1100px) and (min-width: 701px) {
  .component {
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .header {
    width: 100%;
    text-align: center;
  }

  .content {
    padding-left: var(--tablet-padding); 
    padding-right: var(--tablet-padding); 
  }

  .footer {
    padding-left: var(--tablet-padding); 
    padding-right: var(--tablet-padding); 
  }

  .title {
    font-size: var(--tablet-title);
    line-height: var(--tablet-title-height);
  }  


  /* Footer */
  
  .footer {
    margin-bottom: 3rem;
  }


  .title {
    margin: 0;
    padding: 0;
  }
}

/* Desktop View */

@media (min-width: 1101px) {
  .component {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    width: 100%;
    text-align: left;
    padding-left: var(--desktop-padding); 
    padding-right: var(--desktop-padding); 
  }

  .content {
    padding-left: var(--desktop-padding); 
    padding-right: var(--desktop-padding); 
  }

  .footer {
    padding-left: var(--desktop-padding); 
    padding-right: var(--desktop-padding); 
  }

  .title {
    font-size: var(--desktop-title);
    line-height: var(--desktop-title-height);
    margin-bottom: 0.2em;
  }  

  /* Footer */
  
  .footer {
    margin-bottom: 3rem;
  }


  .description {
    font-size: var(--desktop-subtitle);
    line-height: var(--desktop-subtitle-height);
  }
}

/* Universal Attribute */

.title {
  color: var(--primary);
}


.footer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}



.link {
  color: var(--link-color); 
  text-align: right;
}

.description {
  margin: 0;
  padding: 0;
  color: var(--hint-color);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
