@media (max-width: 700px) {

  .input-group {
    margin-bottom: 4px;
  }

  .input {
    font-size: var(--mobile-text);
    line-height: var(--mobile-text-height);
  }

  .label {
    font-size: var(--mobile-text);
    line-height: var(--mobile-text-height);
    margin-bottom: 5px;
    margin-top: 1rem;
  }

}

@media (max-width: 1100px) and (min-width: 701px) {
  
  .input-group {
    margin-bottom: 1rem;
  }

  .input {
    font-size: var(--tablet-text);
    line-height: var(--tablet-text-height);
    width: 70%;
  }

}

@media (min-width: 1101px) {

  .label {
    font-size: var(--desktop-text);
    line-height: var(--desktop-text-height);
    margin-bottom: 5px;
    margin-top: 1rem;
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .input {
    font-size: var(--mobile-text);
    line-height: var(--mobile-text-height);
  }

}

.input-group {
  border-radius: 1px;
  border: 1px solid black;
  background: var(--input-color);
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}

.icon {
  position: relative;
  font-size: 1.2rem;
}

.input {
  background: transparent;
  border: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 85%;
}

.icon-right {
  background: none;
  border: none;
  margin: none;
  display: flex;
}

.icon-right:hover {
  cursor: pointer;
}

.code-input {
  width: 10vw;
  min-width: 0;         
  max-width: 90px;
  height: 15vh;
  max-height: 100px;
  text-align: center;
  font-size: var(--mobile-title);
  box-sizing: border-box;
  border-radius: 19px;
}
