@media (max-width: 700px) {

  .page {
    padding-left: var(--mobile-padding); 
    padding-right: var(--mobile-padding); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: var(--sf);
  }

  .form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

@media (max-width: 1100px) and (min-width: 701px) {

  .page {
    padding-left: var(--tablet-padding); 
    padding-right: var(--tablet-padding); 
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 13px;
  }

  .icon-btn{
    width: 0%; 
  }

}

@media (min-width: 1101px) {

  .page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
  }

  .form {
    padding-left: var(--desktop-padding); 
    padding-right: var(--desktop-padding); 
  }

}

.page {
  background: var(--sf);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4rem;
}

