@media (max-width: 700px){
  /* ==== Placeholder ==== */
  .component {
    padding-left: var(--mobile-padding); 
    padding-right: var(--mobile-padding); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .header {
    width: 100%;
  }


  /* ==== Content ==== */
  /* - Header */
  .title {
    font-size: var(--mobile-title);
    line-height: var(--mobile-title-height);
  }

  .description {
    font-size: var(--mobile-subtitle);
    line-height: var(--mobile-subtitle-height);
    text-align: center;
  }

  .title {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  /* Content */

  .input {
    font-size: var(--mobile-text);
    line-height: var(--mobile-text-height);
  }

  /* Footer */

  .primary-btn {
    height: 32px;
    border-radius: 5px;
  }

}

/* Universal Attribute */

.title {
  color: var(--primary);
}

.footer {
  display: flex;
  flex-direction: column;
}

.primary-btn {
  background: var(--primary);
  color: var(--secondary);
  font-weight: bold; 
  border-radius: 5px; 
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.input {
  background: transparent;
  border: none;
}

.link {
  color: var(--link-color); 
  text-align: right;
}

.description {
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resend-timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: -2px;
}

.reset {
  font-size: var(--mobile-subtitle);
  line-height: var(--mobile-subtitle-height);
  color: var(--link-color);
  margin-right: 4px;
}

.timer[data-form="reset"] {
  display: none;
}

.reset[data-form="reset"]:hover {
  cursor: pointer;
}

.code {
  display: flex;
  width: 80%;
  gap: 1rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.code-input {
  flex: 1 1 0;         
  min-width: 0;         
  height: 80px;
  text-align: center;
  font-size: var(--mobile-title);
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 19px;
}

.back-btn {
  position: absolute;
  top: 0;
  margin-top: 30px;
}

.arrow {
  width: 36px;
  height: 32px;
}
