@media (max-width: 700px) {
  /* ==== Placeholder ==== */
  .component {
    padding-left: var(--mobile-padding); 
    padding-right: var(--mobile-padding); 
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .header {
    width: 100%;
  }

  .footer {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }

  /* ==== Content ==== */
  /* - Header */
  .title {
    font-size: var(--mobile-title);
    line-height: var(--mobile-title-height);
    color: var(--primary);
    margin: 0;
    padding: 0;
  }

  .description {
    margin: 0;
    padding: 0;
    color: var(--hint-color);
    font-size: var(--mobile-subtitle);
    line-height: var(--mobile-subtitle-height);
  }

  /* Content */
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .label {
    font-size: var(--mobile-text);
    line-height: var(--mobile-text-height);
    margin-bottom: 5px;
    margin-top: 1rem;
  }

  .input {
    font-size: var(--mobile-text);
    line-height: var(--mobile-text-height);
    background: transparent;
    border: none;
    padding-left: 2rem;
  }

  .terms {
    font-size: var(--mobile-text);
    line-height: var(--mobile-text-height);
    color: var(--primary); 
    text-align: left;
    gap: 0.2em;
    padding-top: 0.5em;
    display: flex;
    align-items: center;
  }

  /* Footer */

  .primary-btn {
    background: var(--primary);
    color: var(--secondary);
    height: 32px;
    font-weight: bold;
    border-radius: 5px;
  }

  .secondary-btn {
    margin-top: 0.5em;
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 3em;
  }
}

/* Tablet View */

@media (max-width: 1100px) and (min-width: 701px) {
  .component {
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .header {
    width: 100%;
    text-align: center;
  }

  .content {
    padding-left: var(--tablet-padding); 
    padding-right: var(--tablet-padding); 
  }

  .footer {
    padding-left: var(--tablet-padding); 
    padding-right: var(--tablet-padding); 
  }

  .title {
    font-size: var(--tablet-title);
    line-height: var(--tablet-title-height);
  }  

  .input {
    font-size: var(--tablet-text);
    line-height: var(--tablet-text-height);
  }

  /* Footer */
  
  .footer {
    margin-bottom: 3rem;
  }

  .primary-btn {
    font-size: var(--tablet-button);
    padding-top: 8px;
    padding-bottom: 8px;
    height: 32px;
  }

  .secondary-btn {
    margin-top: 0.5em;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #000;
    font-size: var(--tablet-button);
    height: 32px;
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .title {
    margin: 0;
    padding: 0;
  }
}

/* Desktop View */

@media (min-width: 1101px) {
  .component {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    width: 100%;
    text-align: left;
    padding-left: var(--desktop-padding); 
    padding-right: var(--desktop-padding); 
  }

  .content {
    padding-left: var(--desktop-padding); 
    padding-right: var(--desktop-padding); 
  }

  .footer {
    padding-left: var(--desktop-padding); 
    padding-right: var(--desktop-padding); 
  }

  .title {
    font-size: var(--desktop-title);
    line-height: var(--desktop-title-height);
    margin-bottom: 0.2em;
  }  

  .input {
    font-size: var(--mobile-text);
    line-height: var(--mobile-text-height);
  }

  /* Footer */
  
  .footer {
    margin-bottom: 3rem;
  }

  .primary-btn {
    border-radius: 5px;
    font-size: var(--tablet-button);
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .secondary-btn {
    margin-top: 0.5em;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #000;
    font-size: var(--tablet-button);
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .description {
    font-size: var(--desktop-subtitle);
    line-height: var(--desktop-subtitle-height);
  }

  .label {
    font-size: var(--desktop-text);
    line-height: var(--desktop-text-height);
    margin-bottom: 5px;
    margin-top: 1rem;
  }

  .primary-btn {
    margin-bottom: 0.2em;
    height: 36px;
    font-size: var(--desktop-text);
    line-height: var(--desktop-text-height);
  }

  .secondary-btn {
    height: 36px;
    font-size: var(--desktop-text);
    line-height: var(--desktop-text-height);
  }
}

/* Universal Attribute */

.title {
  color: var(--primary);
}

.input-group {
  border-radius: 1px;
  border: 1px solid black;
  background: var(--input-color);
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 4px;
}

.footer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.icon-left {
  position: absolute;
  left: 8px;
  font-size: 1.2rem;
}

.icon-right {
  position: absolute;
  right: 8px;
  font-size: 1.2rem;
}

.show-icon {
  background: none;
  border: none;
  margin: none;
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.show-icon:hover {
  cursor: pointer;
}

.primary-btn {
  background: var(--primary);
  color: var(--secondary);
  font-weight: bold;
  border-radius: 5px;
}

.secondary-btn {
  color: var(--primary);
  font-weight: bold;
  border-radius: 5px;
}

.input {
  background: transparent;
  border: none;
  padding-left: 2rem;
}

.terms {
    color: var(--primary); 
    text-align: left;
    gap: 0.2em;
    display: flex;
    align-items: center;
}

.description {
  margin: 0;
  padding: 0;
  color: var(--hint-color);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
