
@media (max-width: 700px){

  .page {
    padding-left: var(--mobile-padding); 
    padding-right: var(--mobile-padding); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: var(--sf);
  }

  .form {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .description {
    font-size: var(--mobile-text);
    line-height: var(--mobile-text-height);
    padding-left: 1px;
    margin-bottom: 2rem;
  }

  .header {
    padding-left: var(--mobile-padding);
  }

  .primary-btn {
    height: 32px;
    border-radius: 5px;
    font-size: var(--mobile-subtitle);
    line-height: var(--mobile-subtitle-height);
  }

  .label {
    font-size: var(--mobile-subtitle);
    line-height: var(--mobile-subtitle-height);
  }

  .icon-btn {
    position: absolute;
    top: 0;
    margin-top: 30px;
  }

}


@media (max-width: 1100px) and (min-width: 701px) {

  .page {
    padding-left: var(--tablet-padding); 
    padding-right: var(--tablet-padding); 
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 13px;
  }

  .description {
    font-size: var(--tablet-subtitle);
    line-height: var(--tablet-subtitle-height);
  }

  .label {
    font-size: var(--tablet-subtitle);
    line-height: var(--tablet-subtitle-height);
  }


  .icon-btn {
    visibility: hidden;
  }

}

@media (min-width: 1101px) {

  .page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
  }

  .form {
    padding-left: var(--desktop-padding); 
    padding-right: var(--desktop-padding); 
  }

  .description {
    font-size: var(--mobile-subtitle);
    line-height: var(--mobile-subtitle-height);
    width: 80%;
  }

  .label {
    font-size: var(--desktop-text);
    line-height: var(--desktop-text-height);
    margin-bottom: 5px;
    margin-top: 1rem;
  }

  .icon-btn {
    visibility: hidden;
  }

  .description {
    padding-left: var(--desktop-padding);
    padding-right: var(--desktop-padding);
  } 

}

.link {
  color: var(--link-color); 
  text-align: right;
}

.icon {
  width: 36px;
  height: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.icon-btn {
  position: absolute;
  top: 0;
  margin-top: 30px;
}

