@media (max-width: 700px){
  /* ==== Placeholder ==== */
  .page {
    padding-left: var(--mobile-padding); 
    padding-right: var(--mobile-padding); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: var(--sf);
  }

  .header {
    width: 100%;
  }


  /* ==== Content ==== */
  /* - Header */
  .form {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .title {
    font-size: var(--mobile-title);
    line-height: var(--mobile-title-height);
  }

  .description {
    font-size: var(--mobile-text);
    line-height: var(--mobile-text-height);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .title {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  /* Content */

  .input {
    font-size: var(--mobile-text);
    line-height: var(--mobile-text-height);
  }

  /* Footer */

  .primary-btn {
    height: 32px;
    border-radius: 5px;
    font-size: var(--mobile-subtitle);
    line-height: var(--mobile-subtitle-height);
  }

  .label {
    font-size: var(--mobile-subtitle);
    line-height: var(--mobile-subtitle-height);
  }

  .input-group {
    margin-top: 0.5rem;
    margin-bottom: var(--mobile-padding);
  }

  .back-btn {
    position: absolute;
    top: 0;
    margin-top: 30px;
  }
}


/* Tablet View */

@media (max-width: 1100px) and (min-width: 701px) {
  .page {
    padding-left: var(--tablet-padding); 
    padding-right: var(--tablet-padding); 
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 13px;
  }

  .header {
    width: 100%;
    text-align: center;
  }

  /* ==== Content ==== */
  /* - Header */
  .title {
    font-size: var(--tablet-title);
    line-height: var(--tablet-title-height);
  }

  .description {
    font-size: var(--tablet-subtitle);
    line-height: var(--tablet-subtitle-height);
    text-align: center;
  }

  .title {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  /* Content */

  .input {
    font-size: var(--tablet-text);
    line-height: var(--tablet-text-height);
    width: 80%;
  }

  /* Footer */

  .footer {
    margin-bottom: 3rem;
  }

  .label {
    font-size: var(--tablet-subtitle);
    line-height: var(--tablet-subtitle-height);
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .primary-btn {
    font-size: var(--tablet-subtitle);
    line-height: var(--tablet-subtitle-height);
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    height: 32px;
  }

  .secondary-btn {
    font-size: var(--tablet-subtitle);
    line-height: var(--tablet-subtitle-height);
    margin-top: 0.8em;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    border: 1px solid #000;
    height: 32px;
    margin-bottom: 4rem;
  }

  .back-btn {
    width: 0%; 
  }

}

/* Desktop View */

@media (min-width: 1101px) {
  .page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    text-align: left;
    padding-left: var(--desktop-padding); 
    padding-right: var(--desktop-padding); 
  }

  .form {
    padding-left: var(--desktop-padding); 
    padding-right: var(--desktop-padding); 
  }

  .footer {
    padding-left: var(--desktop-padding); 
    padding-right: var(--desktop-padding); 
  }

  .title {
    font-size: var(--desktop-title);
    line-height: var(--desktop-title-height);
    margin-bottom: 0.2em;
  }  

  .input {
    font-size: var(--mobile-text);
    line-height: var(--mobile-text-height);
  }

  /* Footer */
  
  .footer {
    margin-bottom: 3rem;
  }

  .primary-btn {
    border-radius: 5px;
    font-size: var(--tablet-button);
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .secondary-btn {
    margin-top: 0.5em;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #000;
    font-size: var(--tablet-button);
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .description {
    font-size: var(--mobile-subtitle);
    line-height: var(--mobile-subtitle-height);
    width: 80%;
  }

  .label {
    font-size: var(--desktop-text);
    line-height: var(--desktop-text-height);
    margin-bottom: 5px;
    margin-top: 1rem;
  }

  .primary-btn {
    margin-bottom: 0.5em;
    height: 36px;
    font-size: var(--desktop-text);
    line-height: var(--desktop-text-height);
    margin-top: 2rem;
  }

  .secondary-btn {
    height: 36px;
    font-size: var(--desktop-text);
    line-height: var(--desktop-text-height);
  }
}

/* Universal Attribute */

.title {
  color: var(--primary);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.primary-btn {
  background: var(--primary);
  color: var(--secondary);
  font-weight: bold;
  border-radius: 5px;
}

.secondary-btn {
  color: var(--primary);
  font-weight: bold;
  border-radius: 5px;
}

.input {
  background: transparent;
  border: none;
  padding-left: 2rem;
}

.link {
  color: var(--link-color); 
  text-align: right;
}

.icon-left {
  position: absolute;
  left: 8px;
  font-size: 1.2rem;
}


.arrow {
  width: 36px;
  height: 32px;
}

.input-group {
  border-radius: 1px;
  border: 1px solid black;
  background: var(--input-color);
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 4px;
}

.footer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}
